services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  In2code\Sitescore\:
    resource: '../Classes/*'

  In2code\Sitescore\Controller\AnalysisController:
    public: true

  In2code\Sitescore\Controller\LoadAnalysisController:
    public: true

  In2code\Sitescore\Domain\Repository\LlmRepository:
    public: true

  In2code\Sitescore\Domain\Repository\AnalysisRepository:
    public: true
