services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  In2code\Sitescore\:
    resource: '../Classes/*'

  In2code\Sitescore\Controller\AnalysisController:
    public: true

  In2code\Sitescore\Controller\LoadAnalysisController:
    public: true

  In2code\Sitescore\Controller\ToggleController:
    public: true

  In2code\Sitescore\Domain\Repository\AnalysisRepository:
    public: true

  In2code\Sitescore\Domain\Repository\Llm\:
    resource: '../Classes/Domain/Repository/Llm/*.php'
    exclude: '../Classes/Domain/Repository/Llm/{AbstractRepository.php,RepositoryInterface.php}'
    public: true

  In2code\Sitescore\Domain\Repository\Llm\RepositoryInterface:
    factory:
      - '@In2code\Sitescore\Domain\Repository\Llm\LlmRepositoryFactory'
      - 'create'
